#brand-icon {
  color: black;
}
#img-icon {
  width: 12%;
  margin-right: 1%;
  margin-left: 1%;
}
nav *{
  display: inline;
  text-decoration: none;
  color: slategray;
  font-family: 'Roboto';
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  z-index: 1;
}
main {
  z-index: 2;
}
#brand-icon {
  display: flex;
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
}

#navigation a {
  margin-right: 50px;
  display: inline-block;
  padding-top: 1em;
  height: 1.9em;
  vertical-align: middle;
  border-bottom: 5px solid white;
}
#navigation a:hover {
  border-bottom: 5px solid slategray;
}
header {
  position: relative;
  color: slategray;
  margin: 0em;
  font-family: 'Roboto';
  font-size: 3em;
}
header a {
  position: absolute;
  text-decoration: none;
  margin-left: 2em;
  margin-top: -4em;
  color: whitesmoke;
  border: 5px solid whitesmoke;
  animation: zoomout 1s forwards;
}
header a:hover {
  animation: zoomin 1s forwards;

}
@keyframes zoomin {
  from {transform: scale(1);}
  to {transform: scale(1.05);}
}
@keyframes zoomout {
  from {transform: scale(1.05);}
  to {transform: scale(1);}
}
#img-header {
  width: 100%;
  height: 10em;
  margin-top: 0.2em;
  margin-left: 0em;
  padding: 0em;
}
#intro h1 {
  text-align: center;
  font-family: 'Major Mono Display';
}
hr {
  width: 25%;
  border-top: 3px solid slategray;
}
#intro p {
  text-align: center;
  width: 50%;
  font-family: 'Roboto';
  color: black;
}
#intro-p {
  display: flex;
  justify-content: center;
}
h2 {
  font-family: 'Major Mono Display';
}
h3 {
  font-family: 'Major Mono Display';
}
#products {
  text-align: center;
}
@keyframes hr-animation {
  from {width: 25%;}
  to {width: 5%;}
}
@keyframes hr-animation-hover {
  from {width: 5%;}
  to {width: 25%;}
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.product {
  width: 50%;
  margin: auto;
  font-family: 'Roboto';
}
.img-product {
  width: 100%;
  height: auto;
}
footer {
  width: 70%;
  background-color: #EEEEEE;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto';
}
footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;

}
footer a {
  color: black;
  text-decoration: none;
  margin-right: 1em;
}
footer p {
  color: grey;
}
